@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions;
@using WerkelijkWaar.Classes;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    User user = new User();

    bool sessionExists = (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("User")));

    if (sessionExists)
    {
        user = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(HttpContextAccessor.HttpContext.Session.GetString("User"));
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WerkelijkWaar</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
</head>
<body>
    <header>
        <div style="width: 100%; height: 100px; background-color: saddlebrown;">
            @if (sessionExists)
            {
                <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
                    <!-- Left side -->
                    <div style="display: flex; flex-direction: row; width: 400px;">
                        @if (!String.IsNullOrEmpty(user.ImageSource))
                        {
                            <img src="~/content/image/avatars/@user.Id/@user.ImageSource" style="width: 100px; height: 100px;" alt="Profielfoto" title="Profielfoto" />
                        }
                        else
                        {
                            <img src="~/content/image/MissingAvatar.png" class="small-icon" alt="Profielfoto" title="Profielfoto" />
                        }
                        <div style="padding-left: 20px;">
                            <p style="color: white; font-size: 24px;">Welkom, @user.Name!</p>
                            <a style="font-size: 24px;" asp-controller="Account" asp-action="AccountView">Account</a>
                        </div>
                    </div>
                    <!-- Right side -->
                    <div style="display: flex; flex-direction: row; width: 200px; height: 100px;">
                        <p style="padding-top: 50px; color: white; text-align: center; vertical-align: central;">Uitloggen</p>
                        <img src="~/content/image/Logout.png" class="medium-icon" alt="Logout" title="Logout" />
                    </div>
                </div>
            }
        </div>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
