@{
    ViewData["Title"] = "Verhalen van " + Model.User.Name;
}
@model WerkelijkWaar.Models.IndividualModel

<header>
    <div class="flex-column-top">
        <div>
            <a asp-controller="Overview" asp-action="ScoreOverview"><img class="small_icon" src="~/content/image/BackArrow.png" title="Ga terug" alt="Ga terug" /></a>
        </div>
    </div>
</header>

<body>
    <div>

    </div>
</body>