<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="connectionString" value="Server=localhost;Database=TrustMeDb;Integrated Security=False;User Id='MASTER'; Password='ADMINPASSWORD'"/>-->
    <add key="connectionString" value="Server=localhost;Database=TrustMeDb;Integrated Security=False;"/>
    <add key="dbUsername" value="MASTER"/>
    <add key="dbPassword" value="ADMINPASSWORD"/>
  </appSettings>
</configuration>