@{
    ViewData["Title"] = "Hoe verloopt het spel?";
    Layout = "_Layout";
}
@model LoginModel

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <img src="~/content/image/Squirrel.png" class="landing mascot-bigright" />
        <div class="gameinfo big-bubble">
            <h1 class="big-title" style="color: black;">Werkelijk Waar</h1>
            <h2 class="subtitle">Hoe verloopt het spel?</h2>
            <div style="display: flex; flex-direction: row;">
                <h1 class="big-number">1.</h1>
                <p style="margin-left: 10px; margin-top: 5px;">De scholieren verbinden met het spel en worden in groepen verdeeld.</p>
            </div>
            <div style="display: flex; flex-direction: row;">
                <h1 class="big-number">2.</h1>
                <p style="margin-left: 10px; margin-top: 5px;">Ieder groep krijgt een verhaal toegewezen. Iedereen schrijft zijn eigen variant op het verhaal dat ze hebben gekregen en leveren dat verhaal in.</p>
            </div>
            <div style="display: flex; flex-direction: row;">
                <h1 class="big-number">3.</h1>
                <p style="margin-left: 10px; margin-top: 5px;">Een willekeurige groep wordt gekozen. De rest leest de verhalen van de gekozen groepsleden door. Daarna kiezen ze het verhaal die het meest geloofwaardig lijkt. Daarna is de volgende groep aan de beurt, totdat er geen groepen meer over zijn.</p>
            </div>
            <div style="display: flex; flex-direction: row;">
                <h1 class="big-number">4.</h1>
                <p style="margin-left: 10px; margin-top: 5px;">'Volgers' worden gegeven op basis van het antwoord. Je krijgt vijf volgers voor een goed antwoord, maar verliest ook vijf volgers voor een fout antwoord.</p>
            </div>
            <div style="display: flex; flex-direction: row;">
                <h1 class="big-number">5.</h1>
                <p style="margin-left: 10px; margin-top: 5px;">'Geld' wordt gegeven op basis van het aantal volgers. Nadat een beurt is verlopen krijgt iedereen €1,- per volger. De speler met het meeste aantal euro's wint!</p>
            </div>
            <p style="text-align: center;">Maak je geen zorgen, voordat het spel begint, wordt dit allemaal nog een keer uitgelegd.</p>
            <p style="text-align: center;">Klik op de knop om meer te leren over het spel of klik op de andere knop om terug te gaan naar de hoofdpagina.</p>
        </div>
        <div>
            <form style="display: flex; flex-direction: row; justify-content: center; margin-left: -90%; margin-top: 10px;">
                <input asp-controller="Home" asp-action="GameInfo" type="submit" class="form-button" style="" value="Meer over het spel" />
                <input asp-controller="Home" asp-action="Index" type="submit" class="form-button" style="" value="Terug naar hoofdmenu" />
            </form>
        </div>
    </div>
</body>