@{
    ViewData["Title"] = "Home";
}

<header>
    <div class="flex-column-top">
        <div>
            <a asp-controller="Home" asp-action="GoToConfig"><img class="small_icon" src="~/content/image/Gear.png" title="Opties" alt="Opties" /></a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="GoToOverviews"><img class="small_icon" src="~/content/image/Trophy.png" title="Inzage" alt="Inzage" /></a>
        </div>
    </div>
</header>

<body>
    <div>
        <img src="~/content/image/Squirrel.png" class="mascot-home" />
    </div>
    <div class="flex-center" style="margin-top: 20%; flex-direction: column;">
        <div>
            <h1>Werkelijk Waar?</h1>
        </div>
        <div>
            <h2>Houd anderen voor de gek, maar probeer zelf de waarheid te vinden.<br />Weet jij het meest geloofwaardige nepnieuws te schrijven?</h2>
        </div>
        <div>
            <form method="post">
                <button asp-controller="Home" asp-action="GoToRegister" class="button">Aanmelden</button>
                <button asp-controller="Home" asp-action="GoToLogin" class="button">Inloggen</button>
            </form>
        </div>
    </div>
</body>