@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
@model LoginModel

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <h1 class="big-title">Werkelijk Waar?</h1>
        <h2 class="subtitle">Houd anderen voor de gek, maar<br />probeer zelf de waarheid te vinden:<br />weet jij het meest geloofwaardige<br />nepnieuws te schrijven?</h2>
        <br />
        <h3 class="small-text">Heb je nog geen account? Maak deze <a asp-controller="Home" asp-action="GoToRegister">hier</a> aan!</h3>
        <br />
        @if (!String.IsNullOrEmpty(Model.Status))
        {
            <p class="before-input" style="color: red;">@Model.Status</p>
        }
        <form asp-action="LoginUser" asp-controller="Account">
            <div>
                <p class="before-input">Gebruikersnaam:</p>
                @if (!String.IsNullOrEmpty(Model.Username))
                {
                    <input asp-for="Username" type="text" class="text-input" value="@Model.Username" />
                }
                else
                {
                    <input asp-for="Username" type="text" class="text-input" />
                }
            </div>
            <div style="margin-top: 10px;">
                <p class="before-input">Wachtwoord:</p>
                @if (!String.IsNullOrEmpty(Model.Password))
                {
                    <input asp-for="Password" type="password" class="text-input" value="@Model.Password" />
                }
                else
                {
                    <input asp-for="Password" type="password" class="text-input" />
                }
            </div>
        <input type="submit" value="Aanmelden" class="form-button" style="width: 300px; margin-top: 20px;" />
        </form>
    </div>
    <div>
        <img src="~/content/image/Squirrel.png" class="landing mascot-lowerright" />
        <div class="landing bubble-space">
            <p class="landing text-balloon">Leuk dat je er bent!<br />Weet je al hoe 'Werkelijk Waar' werkt?</p>
            <form>
                <input asp-controller="Home" asp-action="GameInfo" type="submit" class="landing button-balloon" value="Hoe speel ik het spel?" />
            </form>
        </div>
    </div>
    <a asp-controller="Home" asp-action="Privacy" style="position: absolute; bottom: 10px; right: 200px;">Privacy / AVG</a>
</body>