@{
    ViewData["Title"] = "Home";
}
@model LoginModel

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <h1>Werkelijk Waar?</h1>
        <h2>Houd anderen voor de gek, maar<br />probeer zelf de waarheid te vinden.</h2>
        <br />
        <h2>Weet jij het meest geloofwaardige<br />nepnieuws te schrijven?</h2>
        <h3>Heb je nog geen account? Maak deze <a asp-controller="Account" asp-action="Register">hier</a> aan!</h3>
        <br />
        <form asp-action="LoginUser" asp-controller="Account">
            <div>
                <p class="landing">Gebruikersnaam</p>
                <input asp-for="Username" type="text" class="landing" />
            </div>
            <div style="margin-top: 10px;">
                <p class="landing">Wachtwoord</p>
                <input asp-for="Password" type="password" class="landing"/>
            </div>
            <input type="submit" value="Aanmelden" class="landing" />
        </form>
    </div>
    <div>
        <img src="~/content/image/Squirrel.png" class="mascot-landing" />
        <img src="~/content/image/SpeechBalloon.png" class="speech-landing" />
        <p class="speech-landing">Leuk dat je er bent!<br />Weet je al hoe 'Werkelijk Waar' werkt?</p>
        <a class="speech-landing" asp-controller="Home" asp-action="GameInfo">Hoe speel ik het spel?</a>
    </div>
</body>