@{
    ViewData["Title"] = "AVG";
}

<body >
    <div>
        <h3>Vanuit https://privacypolicyvoorbeeld.nl</h3>
    </div>
    <div>
        <h1>Privacy policy</h1>
        <h2>Privacy policy voor MediaINN, eigenaar van Werkelijk Waar?</h2>
    </div>
    <div style="margin-top: 20px;">
        <h2 style="text-align: left;">1.) Waarborgen privacy</h2>
        <hr />
        <p>Het waarborgen van de privacy van bezoekers van Werkelijk Waar? is een belangrijke taak voor ons.</p>
        <p>Daarom beschrijven we in onze privacy policy welke informatie we verzamelen en hoe we deze informatie gebruiken.</p>
    </div>
    <div style="margin-top: 20px;">
        <h2 style="text-align: left;">2.) Toestemming</h2>
        <hr />
        <p>Door de informatie en de diensten op Werkelijk Waar? te gebruiken, gaat u akkoord met onze privacy policy en de voorwaarden die wij hierin hebben opgenomen.</p>
    </div>
</body>