@{
    ViewData["Title"] = "AVG";
}

<header>
    <div class="flex-column-top">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <a asp-controller="Home" asp-action="Index"><img class="small_icon" src="~/content/image/BackArrow.png" title="Ga terug" alt="Ga terug" /></a>
            <h2 class="subtitle" style="margin-top: 40px; ">Zie <a href="https://feel2b.tv/avg/">https://feel2b.tv/avg/</a></h2>
        </div>
    </div>
</header>

<body>
    <div>
    </div>
    <div>
        <h1>Privacy policy</h1>
        <h2>Privacy policy voor Feel2B, eigenaar van Werkelijk Waar?</h2>
    </div>
    <div style="margin-top: 20px;">
        <h2 style="text-align: left;">Contactinformatie</h2>
        <hr />
        <p>
            Feel2B, gevestigd aan Swentiboldstraat 21, 6137 AE Sittard,
            is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.
        </p>
        <p>Contactgegevens: <a href="https://www.feel2b.tv/">https://www.feel2b.tv/</a>. Swentiboldstraat 21, 6137 AE Sittard. Tel. 045 8513193</p>
        <p>Ron Limpens is de Functionaris Gegevensbescherming van Feel2B en te bereiken via <a href="mailto:info@feel2b.tv">info@feel2b.tv</a>.</p>
    </div>
    <div style="margin-top: 20px;">
        <h2 style="text-align: left;">Persoonsgegevens die wij verwerken</h2>
        <hr />
        <p>
            Feel2B verwerkt je persoonsgegevens doordat je gebruik maakt van onze diensten en/of omdat je deze gegevens zelf aan ons verstrekt.
            De gegevens worden puur voor educatieve doeleinden verwerkt, zodat de school jouw leerprestaties kan bijhouden.
            Wij verwerken geen bijzondere en/of gevoelige persoonsgegevens.
            Onze website en/of dienst heeft niet de intentie gegevens te verzamelen van websitebezoekers die jonger zijn dan 16 jaar,
            tenzij ze toestemming hebben van een ouders of voogd.
            Als je liever niet jouw echte naam en achternaam aan ons wil geven, kan je na of tijdens het registreren je voor- en achternaam aanpassen naar wat anoniemers.
            Dit maakt het moeilijker voor jouw docenten om te weten wie jij bent, dus kies dan wel een (voor de docent) identificeerbare gebruikersnaam.
        </p>
        <p>
            Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo
            te voorkomen dat er gegevens over kinderen verzameld worden zonder oudelijke toestemming.
            Als je er van overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige,
            neem dan contact met ons op via <a href="mailto:info@feel2b.tv">info@feel2b.tv</a> - dan verwijderen wij deze informatie.
        </p>
    </div>
    <div style="margin-top: 20px">
        <h2 style="text-align: left;">Geen geautomatiseerde besluitvorming</h2>
        <hr />
        <p>
            Feel2B neemt niet op basis van geautomatiseerde verwerkingen besluiten over zaken
            die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier om besluiten
            die worden genomen door computerprogramma's of -systemen, zonder dat daar een mens
            (bijvoorbeeld een medewerker van Feel2B) tussen zit.
        </p>
    </div>
    <div style="margin-top: 20px">
        <h2 style="text-align: left;">Delen van persoonsgegevens met derden</h2>
        <hr />
        <p>
            Feel2B verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze
            overeenkomst met jou of om te voldoen aan een wettelijke verplichting.
        </p>
    </div>
    <div style="margin-top: 20px;">
        <h2 style="text-align:left;">Cookies, of vergelijkbare technieken, die wij gebruiken</h2>
        <hr />
        <p>Feel2B gebruikt alleen technische, functionele en analytische cookies die geen inbreuk maken op je privacy.</p>
        <p>
            Een cookie is een klein tekstbestand dat bij het eerste bezoek en tijdens het inloggen wordt opgeslagen op jouw computer, tablet of smartphone.
            De cookies die wij gebruiken zijn noodzakelijk voor de technische werking van de website en jouw gebruiksgemak.
            Ze zorgen ervoor dat de website naar behoren werkt en onthouden bijvoorbeeld jouw voorkeursinstellingen.
            Ook kunnen wij hiermee onze website optimaliseren.
        </p>
        <p>
            Je kunt je afmelden voor cookies door je internetbrowser zo in te stellen dat deze geen cookies meer opslaat.
            Daarnaast kun je ook alle informatie die eerder is opgeslagen via de instellingen van je browser verwijderen.
        </p>
    </div>
    <div style="margin-top: 20px;">
        <h2 style="text-align: left;">Gegevens inzien, aanpassen of verwijderen</h2>
        <hr />
        <p>Je hebt het recht om je persoonsgegevens in te zien, te corrigeren of te verwijderen.</p>
        <p>
            Daarnaast heb je het recht om je eventuele toestemming voor de gegevensverwerkign in te trekken
            of bezwaar te maken tegen de verwerking van jouw persoonsgegevens door Feel2B en heb je het recht op gegevensoverdraagbaarheid.
            Dat betekent dat je bij ons een verzoek kan indienen om de persoonsgegevens die wij van jou beschikken in een computerbestand
            naar jou of een ander, door jou genoemde organisatie, te sturen. Je kunt een verzoek tot inzage of gegevensoverdraging,
            verzoek tot intrekking van je toestemming of bezwaar op de verwerking van jouw persoonsgegevens insturen naar <a href="mailto:info@feel2b.tv">info@feel2b.tv</a>.
        </p>
        <p>
            Wij reageren zo snel mogelijk, maar binnen vier weken, op jouw verzoek. Feel2B wil je er tevens op wijzen dat je de mogelijkheid hebt
            om een klacht in te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens (AP). Dat kan via de volgende link:
        </p>
        <p><a href="https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons">Autoriteit Persoonsgegevens - tip ons</a>.</p>
        <p>Je kunt jouw eigen gegevens wijzigen of verwijderen in het accountoverzicht van de website.</p>
    </div>
    <div style="margin-top: 20px;">
        <h2 style="text-align:left;">Wij beveiligen persoonsgegevens</h2>
        <hr />
        <p>
            Feel2B neemt de bescherming van jouw gegevens serieus en neemt passend maatregelen om misbruik, verlies, onbevoegde toegang,
            ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan.
        </p>
        <p>Verder worden al jouw gegevens versleuteld opgeslagen en is de website zelf op meerdere manieren beveiligd.</p>
        <p>De gegevens die zijn opgeslagen kunnen op verzoek verwijderd worden. Als de licentie van de school is verlopen worden de gegevens automatisch verwijderd of op verzoek gearchiveerd voor de school.</p>
    </div>
    <div style="margin-top: 20px">
        <h2 style="text-align:left;">Logging van acties</h2>
        <hr />
        <p>De webapplicatie slaat alle uitgevoerde acties van alle gebruikers op.</p>
        <p>
            De verzamelde informatie wordt in een log-bestand versleuteld opgeslagen.
            Iedere maand wordt de log minstens 1 keer gereset.
            De informatie wordt verzameld om de stabiliteit en beveiliging van de webapplicatie te bewaren.
            Zo kunnen wij eventuele bedreigingen identificeren en enige fouten opsporen en oplossen.
        </p>
    </div>
</body>