/* Default */
body {
    background-color: orange;
}

body.dark {
    background-color: darkorange;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: black;
    text-align: center;
}

h3 {
    font-size: 12px;
    color: black;
}

p {
    color: black;
}

p.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: rebeccapurple;
    color: white;
    border: 2px solid black;
    width: 100px;
    height: 50px;
}

input[type=submit], input[type=button] {
    display: block;
    background-color: rebeccapurple;
    color: white;
    border: 2px solid black;
    width: 100px;
    height: 50px;
}

input[type=submit].table, input[type=button].table {
    width: 100%;
    height: 100%;
}

input[type=checkbox], input[type=radio] {
    display: block;
    width: 25px;
    height: 25px;
}

input[type=text], input[type=password], input[type=number] {
    display: block;
    background-color: rebeccapurple;
    color: white;
    width: 300px;
    height: 30px;
    border: 2px solid black;
}

input.center {
    margin-left: auto;
    margin-right: auto;
}

input[type=submit].enabled {
    background-color: rebeccapurple;
    color: white;
}

input[type=submit].disabled {
    background-color: gray;
    color: darkslategray;
}

/* 32x32 image */
img.small-icon {
    width: 32px;
    height: 32px;
}

img.medium-icon {
    width: 64px;
    height: 64px;
}

/* 128x128 image */
img.large-icon {
    width: 128px;
    height: 128px;
}

/* 256x256 image */
img.huge-icon {
    width: 256px;
    height: 256px;
}

img.large-icon.center {
    margin-left: auto;
    margin-right: auto;
}

/* Flexbox */
div.flex {
    display: flex;
}

div.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.flex-column {
    display: flex;
    flex-direction: column;
}

div.flex-column-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
}

div.overview-grid {
    background-color: burlywood;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    height: 1000px;
}

table.overview {
    background-color: burlywood;
    border: 1px solid black;
    border-collapse: collapse;
}

table.overview th, td {
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

table.overview th {
    border-bottom: 1px solid black;
}

centered {
    margin-left: auto;
    margin-right: auto;
}

ul.overview {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* #region _Layout */
div.ww-navbar {
    width: 100%;
    height: 100px;
    background-color: saddlebrown;
    border-bottom: 2px solid black;
}

div.ww-navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

div.ww-navbar-profile {
    display: flex;
    flex-direction: row;
    width: 400px;
}

div.ww-navbar-logout {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;
}

p.ww-navbar-profile {
    color: white;
    font-size: 24px;
    text-align: center;
}

p.ww-navbar-logout {
    font-size: 24px;
    margin-top: 30px;
    color: white;
    text-align: center;
    vertical-align: central;
}

img.ww-navbar-profile {
    width: 100px;
    height: 100px;
}

img.ww-navbar-logout {
    height: 100px;
    width: 100px;
    padding: 20px;
}
/* #endregion _Layout */

/* #region Landing */
img.mascot-landing {
    height: 33%;
    position: absolute;
    right: 0;
    bottom: 0;
}

img.speech-landing {
    height: 20%;
    position: absolute;
    right: 175px;
    bottom: 225px;
}

p.landing {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

p.speech-landing {
    width: 200px;
    text-align: center;
    position: absolute;
    right: 170px;
    bottom: 285px;
}

a.speech-landing {
    text-align: center;
    position: absolute;
    right: 195px;
    bottom: 275px;
}

input.landing {
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
/* #endregion Landing */

/* #region Hub */

/* #endregion Hub */