/* #region Default */
html, body {
    background-color: #f5b91a;
}

html.light, body.light {
    background-color: #f7c747;
}

html.dark, body.dark {
    background-color: #ee860d;
}

html.blue, body.blue {
    background-color: #6ac2c4;
}

html.darkblue, body.darkblue {
    background-color: #7b6ea4;
}
/* #endregion */

/* #region Shared */
div.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.big-title {
    color: white;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
}

h2.subtitle {
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

h3.small-text {
    color: black;
    font-size: 12px;
    text-align: center;
}

p.before-input {
    color: black;
    font-size: 12px;
    text-align: center;
}

input[type=text].text-input, input[type=password].text-input, input[type=number].number-input, input[type=file].text-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2db6bc;
    border: none;
    color: white;
    width: 300px;
    height: 33px;
}

input[type=text].text-input:focus, input[type=password].text-input:focus, input[type=number].number-input:focus, input[type=file].text-input:focus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #58c5ca;
    border: none;
    color: white;
    width: 300px;
    height: 33px;
}

input[type=text].text-input-thin, input[type=password].text-input-thin, input[type=number].number-input-thin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2db6bc;
    border: none;
    color: white;
    width: 150px;
    height: 20px;
}

input[type=text].text-input-thin:focus, input[type=password].text-input-thin:focus, input[type=number].number-input-thin:focus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #58c5ca;
    border: none;
    color: white;
    width: 150px;
    height: 20px;
}

input[type=button].form-button, input[type=submit].form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2db6bc;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
}

input[type=button].form-button-disabled, input[type=submit].form-button-disabled {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    border: none;
    color: black;
    width: 300px;
    height: 40px;
}

input[type=button].form-button-orange, input[type=submit].form-button-orange {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ee860d;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
}

input[type=button].btn-swapStory, input[type=button].btn-nextTutorial, input[type=button].btn-skipTutorial {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ee860d;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
}

input[type=button].form-button:hover, input[type=submit].form-button:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #58c5ca;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
}

input[type=button].form-button-disabled:hover, input[type=submit].form-button-disabled:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border: none;
    color: black;
    width: 300px;
    height: 40px;
}

input[type=button].form-button-orange:hover, input[type=submit].form-button-orange:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff8900;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
}

input[type=button].btn-swapStory:hover, input[type=button].btn-nextTutorial:hover, input[type=button].btn-skipTutorial:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff8900;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
}

input[type=checkbox].form-checkbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2db6bc;
    border: none;
    color: white;
    width: 33px;
    height: 33px;
}

input[type=checkbox].form-checkbox:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #58c5ca;
    border: none;
    color: white;
    width: 33px;
    height: 33px;
}
/* #endregion */

/* #region Layout */
div.layout.top-bar {
    width: 100%;
    height: 100px;
    background-color: #ee860d;
}

div.layout.top-bar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

div.layout.top-bar-profile {
    display: flex;
    flex-direction: row;
    width: 400px;
}

div.layout.top-bar-logout {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;
}

div.layout.side-bar {
    float: left;
    height: 100vh;
    width: 100px;
    background-color: #ee860d;
}

p.layout.top-bar-profile {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
}

p.layout.top-bar-logout {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    text-align: center;
    vertical-align: central;
}

p.layout.side-bar-actions {
    color: white;
    font-size: 24px;
    text-align: center;
}

img.layout.top-bar-profile {
    width: 100px;
    height: 100px;
}

img.layout.top-bar-logout {
    height: 100px;
    width: 100px;
    padding: 20px;
}

img.layout.side-bar-item {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 25px;
}

input[type=submit].layout.top-bar-profile {
    display: block;
    width: 100px;
    background-color: #6b3a00;
    border: none;
    color: white;
    margin-left: 10px;
}

/* #endregion*/

/* #region Landing */
div.landing.bubble-space {
    position: absolute;
    background-color: white;
    width: 275px;
    height: 100px;
    right: 170px;
    bottom: 285px;
    border-radius: 25px;
}

img.landing.mascot-lowerright {
    height: 33%;
    position: absolute;
    right: 0;
    bottom: 0;
}

p.landing.text-balloon {
    color: black;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

input[type=submit].landing.button-balloon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* #endregion */

/* #region GameInfo */
h1.big-number {
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
}

div.gameinfo.big-bubble {
    background-color: white;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    margin-left: -50%;
}

img.landing.mascot-bigright {
    height: 66%;
    position: absolute;
    right: 10%;
    bottom: 15%;
}
/* #endregion */

/* #region Game */
/* #region Docent */
div.game.docent.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.game.docent.side-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.game.docent.center-part {
    display: flex;
    flex-direction: column;
}

/* #endregion */
/* #endregion */