@{
    ViewData["Title"] = "Accountoverzicht";
    Layout = "_LayoutSide";
}
@model AccountViewModel

<body>
    <div>
        <div class="flex-center" style="margin-top: 10px;">
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; margin-right: 25px; width: 700px;">
                    <div>
                        <h2 class="subtitle" style="text-align: left;">Identiteit</h2>
                        <div style="background-color: #f7c747; padding: 15px;">
                            @if (!String.IsNullOrEmpty(Model.StatusString) && Model.StatusLocation == 0)
                            {
                                <p class="before-input" style="color: red;">@Model.StatusString</p>
                            }
                            <form asp-action="EditName" asp-controller="Account">
                                <div style="display: flex; flex-direction: row;">
                                    <div style="display: flex; flex-direction: column; margin-right: 233px;">
                                        <p style="text-align: left; margin-left: 10px;">Voornaam:</p>
                                        <p style="text-align: left; margin-left: 10px; margin-top: 10px;">Achternaam:</p>
                                        <p style="text-align: left; margin-left: 10px; margin-top: 10px;">Gebruikersnaam:</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column;">
                                        <input asp-for="User.Name" type="text" class="text-input" />
                                        <input asp-for="User.Surname" type="text" class="text-input" style="margin-top: 10px;" />
                                        <input asp-for="User.Username" type="text" class="text-input" style="margin-top: 10px;" />
                                    </div>
                                </div>
                                <input type="submit" value="Opslaan" class="form-button" style="width: 300px;" />
                            </form>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <h2 class="subtitle" style="text-align: left;">Veiligheid</h2>
                        <div style="background-color: #f7c747; padding: 15px;">
                            @if (!String.IsNullOrEmpty(Model.StatusString) && Model.StatusLocation == 1)
                            {
                                <p class="before-input" style="color: red;">@Model.StatusString</p>
                            }
                            <form asp-action="EditPassword" asp-controller="Account">
                                <div style="display: flex; flex-direction: row;">
                                    <div style="display: flex; flex-direction: column; margin-right: 100px;">
                                        <p style="text-align: left; margin-left: 10px;">Oud wachtwoord:</p>
                                        <p style="text-align: left; margin-left: 10px; margin-top: 10px;">Nieuw wachtwoord:</p>
                                        <p style="text-align: left; margin-left: 10px; margin-top: 5px;">Nieuw wachtwoord bevestigen:</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column;">
                                        <input asp-for="OldPassword" type="password" class="text-input" />
                                        <input asp-for="NewPassword" type="password" class="text-input" style="margin-top: 10px;" />
                                        <input asp-for="NewPasswordConfirmation" type="password" class="text-input" style="margin-top: 10px; float: right;" />
                                    </div>
                                </div>
                                <input type="submit" value="Opslaan" class="form-button" style="width: 300px;" />
                            </form>
                        </div>
                    </div>
                </div>
                <div style="width: 700px;">
                    <h2 class="subtitle" style="text-align: left;">Avatar</h2>
                    <div style="background-color: #f7c747; padding: 15px;">
                        @if (!String.IsNullOrEmpty(Model.StatusString) && Model.StatusLocation == 2)
                        {
                            <p class="before-input" style="color: red;">@Model.StatusString</p>
                        }
                        <form asp-action="EditAvatar" asp-controller="Account" enctype="multipart/form-data">
                            <input type="submit" value="Opslaan" class="form-button" style="width: 150px; margin-right: -10px;" />
                            <div style="display: flex; flex-direction: row;">
                                <div style="display: flex; flex-direction: row; margin-top: -45px;">
                                    @if (!String.IsNullOrEmpty(Model.User.ImageSource))
                                    {
                                        <img class="layout top-bar-profile" src="~/content/image/avatars/@Model.User.Id/@Model.User.ImageSource" />
                                    }
                                    else
                                    {
                                        <img src="~/content/image/Person_disabled.png" style="width: 100px; height: 100px; border: 2px solid #f5b91a" />
                                    }
                                    <input asp-for="UploadedAvatar" class="text-input" style="height: 30px; margin-left: 10px; margin-top: 70px;" type="file" />
                                </div>
                            </div>
                            <h2 class="subtitle" style="text-align: left; margin-top: 20px;">Standaard avatars</h2>
                            <div style="display: flex; flex-direction: row; background-color: #2db6bc; height: 80px; width: 675px;">
                                <ul style="list-style-type: none; padding: 0; width: 675px;">
                                    <li style="display: block; height: 50px; width: 50px; padding-left: 10px; padding-right: 50px; float: left; margin-top: 5px;">
                                        <a asp-action="EditAvatar" asp-controller="Account">
                                            <img src="~/content/image/Person.png" style="border: 2px solid black; height: 50px; width: 50px;" />
                                        </a>
                                    </li>
                                    <li style="display: block; height: 50px; width: 50px; padding-left: 10px; padding-right: 50px; float: left; margin-top: 5px;">
                                        <a asp-action="EditAvatar" asp-controller="Account">
                                            <img src="~/content/image/Person.png" style="border: 2px solid white; height: 50px; width: 50px;" />
                                        </a>
                                    </li>
                                    <li style="display: block; height: 50px; width: 50px; padding-left: 10px; padding-right: 50px; float: left; margin-top: 5px;">
                                        <a asp-action="EditAvatar" asp-controller="Account">
                                            <img src="~/content/image/Person.png" style="border: 2px solid red; height: 50px; width: 50px;" />
                                        </a>
                                    </li>
                                    <li style="display: block; height: 50px; width: 50px; padding-left: 10px; padding-right: 50px; float: left; margin-top: 5px;">
                                        <a asp-action="EditAvatar" asp-controller="Account">
                                            <img src="~/content/image/Person.png" style="border: 2px solid blue; height: 50px; width: 50px;" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>