@{
    ViewData["Title"] = "Werkelijk Waar - Registreren";
}
@model WerkelijkWaar.Models.RegisterModel

<header>
    <div class="flex-column-top">
        <div>
            <a asp-controller="Home" asp-action="Index"><img class="small_icon" src="~/content/image/BackArrow.png" title="Ga terug" alt="Ga terug" /></a>
        </div>
    </div>
</header>

<body>
    <div>
        <div class="flex-center">
            <div>
                <h1>Registreren</h1>
                <form id="registerForm" asp-controller="Account" asp-action="RegisterUser">
                    <input asp-for="RoleId" value="0" type="hidden" />
                    <div>
                        <h2>Voornaam:</h2>
                        <input id="name" asp-for="Name" type="text" />
                    </div>
                    <div>
                        <h2>Achternaam:</h2>
                        <input id="surname" asp-for="Surname" type="text" />
                    </div>
                    <div style="margin-top: 20px;">
                        <h2>Gebruikersnaam:</h2>
                        <input id="username" asp-for="Username" type="text" />
                    </div>
                    <div>
                        <h2>Wachtwoord:</h2>
                        <input id="password" asp-for="Password" type="password" />
                    </div>
                    <div>
                        <h2>Klascode:</h2>
                        <input id="code" asp-for="Code" type="text" />
                    </div>
                    <div>
                        <h2>Ik ben 16 jaar of ouder of ik heb toestemming gekregen van mijn ouders / voogd.</h2>
                        <input id="age" asp-for="AgeCheck" type="checkbox" class="center" />
                        <h2>Ik heb @Html.ActionLink("de algemene voorwaarden", "Privacy", "Home") gelezen en ik ga akkoord met de privacy policy.</h2>
                        <input id="privacy" asp-for="PrivacyCheck" type="checkbox" class="center" />
                    </div>
                    <input id="submitButton" disabled type="submit" value="Registreren" />
                </form>
            </div>
        </div>
    </div>
</body>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            checkFields();
            function checkFields() {
                if ($('#name').val() && $('#surname').val() && $('#username').val() && $('#password').val() && $('#code').val() && document.getElementById('age').checked && document.getElementById('privacy').checked) {
                    $('#submitButton').removeClass('disabled');
                    $('#submitButton').removeAttr('disabled');
                }
                else {
                    $('#submitButton').addClass('disabled');
                    $('#submitButton').prop("disabled", true);
                }
                setTimeout(checkFields, 500);
            }
        });
    </script>
}