@{
    ViewData["Title"] = "Registreren";
    Layout = "_Layout";
}
@model RegisterModel

<header>
    <div class="flex-column-top">
        <div>
            <a asp-controller="Home" asp-action="Index"><img class="small_icon" src="~/content/image/BackArrow.png" title="Ga terug" alt="Ga terug" /></a>
        </div>
    </div>
</header>

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <h2 class="subtitle">Registreren</h2>
        @if (!String.IsNullOrEmpty(Model.StatusString))
        {
            <p class="before-input" style="color: red;">@Model.StatusString</p>
        }
        <form asp-action="RegisterUser" asp-controller="Account">
            <input asp-for="RoleId" value="0" type="hidden" />
            <div>
                <p class="before-input">Voornaam:</p>
                <input id="nameInput" asp-for="Name" type="text" class="text-input" />
            </div>
            <div style="margin-top: 10px;">
                <p class="before-input">Achternaam:</p>
                <input id="surnameInput" asp-for="Surname" type="text" class="text-input" />
            </div>
            <div>
                <p class="before-input">Gebruikersnaam:</p>
                <input id="usernameInput" asp-for="Username" type="text" class="text-input" />
            </div>
            <div style="margin-top: 10px;">
                <p class="before-input">Wachtwoord:</p>
                <input id="passwordInput" asp-for="Password" type="password" class="text-input" />
            </div>
            <div style="margin-top: 10px;">
                <p class="before-input">School:</p>
                <input id="schoolInput" asp-for="School" type="text" class="text-input" />
            </div>
            <div style="margin-top: 10px;">
                <p class="before-input">Klas:</p>
                <input id="groupInput" asp-for="Group" type="number" class="number-input" />
            </div>
            <div style="margin-top: 10px;">
                <p>Ik heb @Html.ActionLink("de algemene voorwaarden", "Privacy", "Home") gelezen en ik ga akkoord met de privacy policy.</p>
                <input id="privacyCheck" asp-for="PrivacyCheck" type="checkbox" class="form-checkbox" />
            </div>
            <input id="submitButton" type="submit" value="Registreren" class="form-button" style="width: 300px; margin-top: 20px;" />
        </form>
    </div>
</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            checkFields();
            function checkFields() {
                if ($('#nameInput').val() && $('#surnameInput').val() && $('#usernameInput').val() && $('#passwordInput').val() && $('#schoolInput').val() && $('#groupInput').val() && document.getElementById('privacyCheck').checked) {
                    $('#submitButton').addClass('form-button');
                    $('#submitButton').removeClass('form-button-disabled');
                    $('#submitButton').prop("disabled", false);
                }
                else {
                    $('#submitButton').removeClass('form-button');
                    $('#submitButton').addClass('form-button-disabled');
                    $('#submitButton').prop("disabled", true);
                }
                setTimeout(checkFields, 500);
            }
        });
    </script>
}