@{
    ViewData["Title"] = "Spel";
    Layout = "_LayoutSide";
}

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        Vidya gaem!!1!
    </div>
</body>

@section Scripts {
    <script>
        document.getElementById("playImage").style.border = "2px solid white";
    </script>
}