@{
    ViewData["Title"] = "Inzagescherm";
    Layout = "_LayoutSide";
}

<body>
    <div style="margin-top: 10px;">
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div style="display: flex; flex-direction: column;">
                <div>
                    <h2 class="subtitle">Top vijf van vandaag (x-x)</h2>
                    <ul style="border: 1px solid black; list-style-type: none;">
                        <li>
                            1. Speler 1 - 8,0
                        </li>
                        <li>
                            2. Speler 2 - 7,9
                        </li>
                        <li>
                            3. Speler 3 - 7,8
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="subtitle">Top vijf van deze maand (x)</h2>
                    <ul style="border: 1px solid black; list-style-type: none;">
                        <li>
                            1. Speler 4 - 9,0
                        </li>
                        <li>
                            2. Speler 5 - 8,9
                        </li>
                        <li>
                            3. Speler 6 - 8,8
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="subtitle">Top allertijden</h2>
                <ul style="border: 1px solid black; list-style-type: none;">
                    <li>
                        1. Speler 7 - 10,0
                    </li>
                    <li>
                        2. Speler 8 - 9,9
                    </li>
                    <li>
                        3. Speler 9 - 9,8
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>