@{
    ViewData["Title"] = "Spel";
    Layout = "_LayoutSide";
}
@model HubModel

<body id="body">
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <img id="cornerMascot" class="landing mascot-lowerright" src="~/content/image/Squirrel.png" />
        <div id="game">
            <input id="userIdHolder" type="hidden" value="@Model.User.Id" />
            <input id="usernameHolder" type="hidden" value="@Model.User.Username" />
            <input id="roomCodeHolder" type="hidden" value="" />
            <input id="roleIdHolder" type="hidden" value="@Model.User.RoleId" />
            @if (Model.User.RoleId == 0)
            {
                <!-- #region Student -->
                <div class="layout top-bar" id="persistentHeader" style="background-color: #6ac2c4; display: none; width: 100vw; margin-top: -10px; margin-bottom: 33px;">
                    <div class="layout top-bar-container" style="display: flex; flex-direction: row; justify-content: flex-start;">
                        <div id="profilePicture">
                            @if (!String.IsNullOrEmpty(Model.User.ImageSource))
                            {
                                <img class="layout top-bar-profile" src="~/content/image/avatars/@Model.User.Id/@Model.User.ImageSource" alt="Jij!" title="Jij!" />
                            }
                            else
                            {
                                <img class="layout top-bar-profile" src="~/content/image/Person_disabled.png" alt="Jij!" title="Jij!" />
                            }
                        </div>
                        <div>
                            <h2 class="subtitle" style="margin-top: 35px; margin-left: 10px;">@Model.User.Username</h2>
                        </div>
                        <div id="personalScore" style="display: flex; flex-direction: row; justify-content: space-around">
                            <div style="display: flex; margin-left: 100px;">
                                <img class="layout top-bar-profile" style="height: 75px; width: 75px; margin-top: 12px;" src="~/content/image/People.png" title="Volgers" alt="Volgers" />
                                <h2 class="subtitle" style="padding-left: 10px; margin-top: 35px;" id="followerCount">0</h2>
                            </div>
                            <div>
                                <h2 class="subtitle" style="margin-left: 66vw; margin-top: 35px;" id="moneyCount">€0.00-</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="game-prep">
                    <p id="statusMessage"></p>
                    <h2 class="subtitle">Speel mee! Vul de spelcode op het bord in:</h2>
                    <input id="roomCodeInput" type="text" class="text-input" />
                    <input id="btn-joinLobby" type="button" class="form-button" style="margin-top: 10px;" value="Verbinden met lobby" />
                </div>
                <div>
                    <!-- #region Prep -->
                    <div id="game-connected" style="display: none;">
                        <div style="display: flex; flex-direction: column;">
                            <div>
                                <ul id="playerList" style="border: 1px solid black; border-radius: 25px; list-style-type: none; text-align: center; padding: 0; margin-left: auto; margin-right: auto; width: 20%;"></ul>
                                <p id="playerCount" class="before-input">0 spelers zijn verbonden.</p>
                                <input id="btn-leaveLobby" type="button" class="form-button-orange" style="margin-top: 10px;" value="Lobby verlaten" />
                            </div>
                        </div>
                    </div>
                    <div id="game-tutorial-1" class="game game-tutorial" style="display: none;">
                        <div class="game game-tutorial student-div">
                            <p>Je wilt graag een nieuwe telefoon, maar je hebt nog niet genoeg geld gespaard om er een te kunnen kopen.</p>
                            <p>Je hebt gehoord dat mensen bakken met geld verdienen door het verspreiden van nepnieuws.<br />Hoe moeilijk kan het zijn om zelf nep berichten te verspreiden?</p>
                            <p>Schrijf zelf nep berichten en verdien genoeg om een nieuwe telefoon te kopen.</p>
                        </div>
                        <input class="btn-continueTutorial" style="margin-bottom: 10px;" type="button" value="Volgende" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                    <div id="game-tutorial-2" class="game game-tutorial" style="display: none;">
                        <div class="game game-tutorial student-div">
                            <p>Om geld te verdienen heb je volgers nodig.</p>
                            <p>Zorg er dus voor dat lezers het door jou geschreven bericht delen.</p>
                            <p>Daarnaast moet je er wel voor zorgen dat je zelf de juiste berichten deelt.</p>
                            <p>Deel je een vals bericht, dan kost je dat volgers</p>
                            <p>[foto's]</p>
                        </div>
                        <input class="btn-continueTutorial" style="margin-bottom: 10px;" type="button" value="Volgende" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                    <div id="game-tutorial-3" class="game game-tutorial" style="display: none;">
                        <div class="game game-tutorial student-div">
                            <p>Maak van het originele artikel een eigen nep bericht.<br />Bedenk zelf ook een titel die nieuwsgierigheid wekt.</p>
                        </div>
                        <input class="btn-continueTutorial" style="margin-bottom: 10px;" type="button" value="Aan de slag" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                    <div id="game-waiting" class="game game-tutorial" style="display: none;">
                        <div class="game game-tutorial student-div">
                            <p>Wachten op spelers...</p>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Write -->
                    <div id="game-write" class="game game-write" style="display: none;">
                        <div id="write-busy">
                            <div class="game game-write column-holder">
                                <div class="game game-write row-holder">
                                    <div class="game game-write story-column">
                                        <p id="storyTitle">Titel</p>
                                        <p id="storyText" style="color: black; padding: 10px;">Verhaal</p>
                                    </div>
                                    <div class="game game-write write-column">
                                        <input id="writtenStoryTitle" type="text" placeholder="Titel"/>
                                        <textarea id="writtenStoryText" placeholder="Verhaal"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <input id="btn-uploadStory" class="game game-write submit-button" type="button" value="Deel" />
                                </div>
                            </div>
                        </div>
                        <div id="write-finished" style="display: none;">
                            <p class="game game-write after-sending">Verhaal ingezonden! Wachten op de rest...</p>
                        </div>
                        <div>
                            <span class="game timer-bar"></span>
                            <h2 class="game timer-clock">00:00</h2>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Read -->
                    <div id="game-read" class="game game-read" style="display: none;">
                        <div id="read-busy">
                            <div class="game game-read column-holder">
                                <div class="game game-read row-holder">
                                    <div class="game game-read list-column">
                                        <p id="turnString" style="display: none;">Jouw verhaal is aan de beurt. Je mag verhalen lezen maar niet delen.</p>
                                        <p id="articleString">Welk artikel deel je?</p>
                                        <div id="storyList"></div>
                                    </div>
                                    <div class="game game-read story-column">
                                        <p id="readStoryTitle" style="color: white;"></p>
                                        <p id="readStoryText" class="text-input" align="left" style="height: 100%;"></p>
                                    </div>
                                </div>
                                <div>
                                    <input id="btn-uploadAnswer" class="game game-read submit-button" type="button" value="Deel" />
                                    <input id="btn-openPowerupDrawer" class="game game-read drawer-button" type="button" value="Hulplijn" />
                                </div>
                                <div id="powerupDrawer" style="display: block;">
                                    <div id="movingDrawer" style="transition: margin-left 0.5s; transition-timing-function: linear; background-color: #ee860d; padding: 5px; width: 500px; height: 300px; border-radius: 25px; margin-top: -550px; margin-left: 2000px;">
                                        <p id="powerupFeedback"></p>
                                        <input id="btn-activatePowerup-1" class="game game-read powerup-button" type="button" value="Twee antwoorden kiezen" />
                                        <input id="btn-activatePowerup-2" class="game game-read powerup-button" type="button" value="Dubbele punten" />
                                        <input id="btn-activatePowerup-3" class="game game-read powerup-button" type="button" value="50% wegstrepen" />
                                        <input id="btn-activatePowerup-4" class="game game-read powerup-button" type="button" value="Spieken" />
                                        <input id="btn-activatePowerup-5" class="game game-read powerup-button" style="display: none;" type="button" value="Dubbele punten voor jouw verhaal" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="read-finished" style="display: none;">
                            <h2 class="subtitle" id="randomFinishString" style="color: white;">Was dat het juiste antwoord? We zullen zien!</h2>
                        </div>
                        <div>
                            <span class="game timer-bar"></span>
                            <h2 class="game timer-clock">00:00</h2>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <div id="game-results" style="display: none;">
                        <h2 class="subtitle" style="color: white;" id="resultString"></h2>
                    </div>
                    <div id="game-leaderboard" style="display: none;">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div>
                                @if (!String.IsNullOrEmpty(Model.User.ImageSource))
                                {
                                    <img class="layout top-bar-profile" style="width: 300px; height: 300px; margin-top: 50px;" src="~/content/image/avatars/@Model.User.Id/@Model.User.ImageSource" alt="Jij!" title="Jij!" />
                                }
                                else
                                {
                                    <img class="layout top-bar-profile" style="width: 300px; height: 300px; margin-top: 50px;" src="~/content/image/Person_disabled.png" alt="Jij!" title="Jij!" />
                                }
                            </div>
                            <div>
                                <img class="layout top-bar-profile" style="height: 75px; width: 75px; margin-top: 10px; margin-left: -60px;" src="~/content/image/People.png" title="Volgers" alt="Volgers" />
                                <h2 class="subtitle" style="padding-left: 10px; margin-top: -50px; margin-right: -20px;" id="leaderboard-followers">0</h2>
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center; background-color: #7b6ea4; width: 100px; height: 100px; margin-top: -120px; margin-left: 300px;">
                                <h2 class="subtitle" style="color: white;" id="leaderboard-money">€0.00-</h2>
                            </div>
                            <h2 id="rankString" style="z-index: 0; margin-top: -100px; margin-left: -700px; color: white;"></h2>
                            <div id="leaderboard-final" style="display: none;">
                                <img style="z-index: -1; width: 90vw; height: 70vh; margin-top: -380px;" src="~/content/image/Confetti.png" />
                                <h2 class="subtitle" style="z-index: 0; color: white; margin-top: -380px; margin-left: -700px;">Score vandaag</h2>
                            </div>
                        </div>
                    </div>
                    <div id="game-end" style="display: none" ;>
                        <img src="~/content/image/Squirrel.png" style="width: 25%; margin-left: 500px;" />
                        <h2 class="subtitle" style="color: white; margin-top: -400px; margin-left: 300px;">Bedankt voor het spelen!</h2>
                        <input id="btn-leaveGameOnEnd" class="form-button-orange" style="margin-top: 400px;" type="button" value="Afsluiten" />
                    </div>
                </div>
                <!-- #endregion -->
            }
            @if (Model.User.RoleId == 1)
            {
                <!-- Docent -->
                <!-- !Geluiden! -->
                <audio id="snd-timer-1" src="~/content/audio/Timer-1.wav"></audio>
                <audio id="snd-timer-2" src="~/content/audio/Timer-2.wav"></audio>
                <audio id="snd-timer-3" src="~/content/audio/Timer-3.wav"></audio>
                <audio id="snd-timer-4" src="~/content/audio/Timer-4.wav"></audio>
                <audio id="snd-end" src="~/content/audio/GameEnd.wav"></audio>
                <audio id="snd-start" src="~/content/audio/GameStart.wav"></audio>
                <!-- !Eind geluiden! -->
                <div id="game-prep">
                    <p id="statusMessage"></p>
                    <h2 class="subtitle">Speel het spel! Open een lobby en toon de code op het bord:</h2>
                    <input id="btn-hostLobby" type="button" class="form-button" value="Lobby openen" />
                </div>
                <div id="game-connected" style="display: none;">
                    <div style="display: flex; flex-direction: column;">
                        <h2 id="gameCode" class="subtitle">Jouw spelcode is:</h2>
                        @*<ul id="playerList" style="display: flex; justify-content: space-around; border: 1px solid black; list-style-type: none; padding: 0; text-align: center;"></ul>*@
                        <ul id="playerList" style="display: flex; justify-content: space-around; border: 1px solid black; border-radius: 25px; list-style-type: none; text-align: center; padding: 0; margin-left: auto; margin-right: auto; width: 20vw;"></ul>
                        <p id="playerCount" class="before-input">0 spelers zijn verbonden.</p>
                        <input id="btn-startGame" type="button" class="form-button-orange" style="margin-top: 10px;" value="Starten met huidige lobby" />
                        <input id="btn-leaveLobby" type="button" class="form-button-orange" style="margin-top: 10px;" value="Lobby sluiten" />
                    </div>
                </div>
                <div id="game-tutorial-1" class="game game-tutorial" style="display: none;">
                    <div>
                        <p>Je wilt graag een nieuwe telefoon, maar je hebt nog niet genoeg geld gespaard om er een te kunnen kopen.</p>
                        <p>Je hebt gehoord dat mensen bakken met geld verdienen door het verspreiden van nepnieuws.<br />Hoe moeilijk kan het zijn om zelf nep berichten te verspreiden?</p>
                        <p>Schrijf zelf nep berichten en verdien genoeg om een nieuwe telefoon te kopen.</p>
                    </div>
                    <input class="btn-continueTutorial" style="margin-bottom: 10px;" type="button" value="Volgende" />
                    <input class="btn-skipTutorial" type="button" value="Overslaan" />
                </div>
                <div id="game-tutorial-2" class="game game-tutorial" style="display: none;">
                    <div>
                        <p>Om geld te verdienen heb je volgers nodig.</p>
                        <p>Zorg er dus voor dat lezers het door jou geschreven bericht delen.</p>
                        <p>Daarnaast moet je er wel voor zorgen dat je zelf de juiste berichten deelt.</p>
                        <p>Deel je een vals bericht, dan kost je dat volgers</p>
                        <p>[foto's]</p>
                    </div>
                    <input class="btn-continueTutorial" style="margin-bottom: 10px;" type="button" value="Volgende" />
                    <input class="btn-skipTutorial" type="button" value="Overslaan" />
                </div>
                <div id="game-tutorial-3" class="game game-tutorial" style="display: none;">
                    <div>
                        <p>Kijk nu naar je eigen scherm en volg de instructies.</p>
                    </div>
                    <input class="btn-continueTutorial" style="margin-bottom: 10px;" type="button" value="Volgende" />
                    <input class="btn-skipTutorial" type="button" value="Overslaan" />
                </div>
                <div id="game-waiting" class="game game-tutorial" style="display: none;">
                    <div>
                        <p>Wachten op spelers...</p>
                    </div>
                    <input class="btn-skipTutorial" type="button" value="Overslaan" />
                </div>
                <div id="game-write" style="display: none; width: 100vw;">
                    <h2>Wachten op verhalen...</h2>
                    <span class="timerBar" style="transition: width 1s, background-color 1s; transition-timing-function: linear; display: none; border-radius: 25px; margin-left: auto; margin-right: auto; width: 100vw; height: 50px; background-color: #f7c747; text-align: center;"></span>
                    <h2 class="timerClock" style="transition: color 1s; transition-timing-function: linear; color: black; margin-top: -43px; font-size: 24px; text-align: center; font-weight: 400;">00:00</h2>
                </div>
                <div id="game-read" style="display: none; width: 100vw;">
                    <div style="display: flex; flex-direction: column;">
                        <div id="storyList"></div>
                    </div>
                    <span class="timerBar" style="transition: width 1s, background-color 1s; transition-timing-function: linear; display: none; border-radius: 25px; margin-left: auto; margin-right: auto; width: 100vw; height: 50px; background-color: #f7c747; text-align: center;"></span>
                    <h2 class="timerClock" style="transition: color 1s; transition-timing-function: linear; color: black; margin-top: -43px; font-size: 24px; text-align: center; font-weight: 400;">00:00</h2>
                </div>
                <div id="game-results" style="display: none;">
                    <div style="display: flex; flex-direction: row;">
                        <ul id="leaderboard-left"></ul>
                        <ul id="leaderboard-right"></ul>
                    </div>
                </div>
                <div id="game-leaderboard" style="display: none;">
                    w.i.p.
                </div>
                <div id="game-end" style="display: none" ;>
                    <img src="~/content/image/Squirrel.png" style="width: 40%; margin-left: 100px;" />
                    <h2 class="subtitle" style="color: white; margin-top: -400px; margin-left: 300px;">Bedankt voor het spelen!</h2>
                    <input id="btn-leaveGameOnEnd" style="margin-top: 400px;" class="form-button-orange" type="button" value="Afsluiten" />
                </div>
            }
            @if (Model.User.RoleId == 2)
            {
                <!-- Beheerder -->
                <p>Als beheerder kun je het spel niet spelen.</p>
            }
        </div>
    </div>
</body>

@section Scripts {
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
    <script src="~/js/game.js" language="javascript" type="text/javascript"></script>
}