@{
    ViewData["Title"] = "Spel";
    Layout = "_LayoutSide";
}
@model HubModel

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <img class="landing mascot-lowerright" src="~/content/image/Squirrel.png" />
        <div id="game">
            <p id="statusMessage"></p>
            <div id="clockBar" style="display: none; width: 100vw; height: 50px; background-color: #f7c747;"><p class="before-input" style="text-align: center;" id="clock"></p></div>
            <input id="usernameInput" type="hidden" value="@Model.User.Username" />
            <input id="roomInput" type="hidden" value="" />
            <input id="roleId" type="hidden" value="@Model.User.RoleId" />
            <!-- Student -->
            @if (Model.User.RoleId == 0)
            {
                <div id="game-prep">
                    <h2 class="subtitle">Speel mee! Vul de spelcode op het bord in:</h2>
                    <input id="codeInput" type="text" class="text-input" />
                    <input id="btn-connectLobby" type="button" class="form-button" style="margin-top: 10px;" value="Verbinden met lobby" />
                </div>
                <div id="game-connected" style="display: none;">
                    <div style="display: flex; flex-direction: row;">
                        <div>
                            <p id="statusString" class="before-input">...</p>
                            <input id="btn-leaveLobby" type="button" class="form-button" value="Lobby verlaten" />
                        </div>
                        <div>
                            <ul id="playerList" style="border: 1px solid black;"></ul>
                            <p id="playerCount" class="before-input">x spelers zijn verbonden.</p>
                        </div>
                    </div>
                </div>
                <div id="game-tutorial-1" style="display: none; background-color: #6ac2c4;">
                    <p>Je wilt graag een nieuwe telefoon, maar je hebt nog niet genoeg geld gespaard om er een te kunnen kopen.</p>
                    <p>Je hebt gehoord dat mensen bakken met geld verdienen door het verspreiden van nepnieuws.<br />Hoe moeilijk kan het zijn om zelf nep berichten te verspreiden?</p>
                    <p>Schrijf zelf nep berichten en verdien genoeg om een nieuwe telefoon te kopen.</p>
                    <input class="btn-nextTutorial" type="button" value="Volgende" />
                </div>
                <div id="game-tutorial-2" style="display: none; background-color: #6ac2c4;">
                    <p>Om geld te verdienen heb je volgers nodig.</p>
                    <p>Zorg er dus voor dat lezers het door jou geschreven bericht delen.</p>
                    <p>Daarnaast moet je er wel voor zorgen dat je zelf de juiste berichten deelt.</p>
                    <p>Deel je een vals bericht, dan kost je dat volgers</p>
                    <p>[foto's]</p>
                    <input class="btn-nextTutorial" type="button" value="Volgende" />
                </div>
                <div id="game-tutorial-3" style="display: none; background-color: #6ac2c4;">
                    <p>Maak van het originele artikel een eigen nep bericht.<br />Bedenk zelf ook een titel die nieuwsgierigheid wekt.</p>
                    <input class="btn-nextTutorial" type="button" value="Aan de slag" />
                </div>
                <div id="game-waiting" style="display: none; background-color: #6ac2c4;">
                    <p>Wachten op spelers...</p>
                </div>
                <div id="game-write" style="display: none; background-color: #6ac2c4;">
                    <p>schrijvuh</p>
                </div>
            }
            <!-- Docent -->
            @if (Model.User.RoleId == 1)
            {
                <div id="game-prep">
                    <h2 class="subtitle">Speel het spel! Open een lobby en toon de code op het bord:</h2>
                    <input id="btn-openLobby" type="button" class="form-button" value="Lobby openen" />
                </div>
                <div id="game-connected" style="display: none;">
                    <div style="display: flex; flex-direction: row;">
                        <div>
                            <p id="statusString" class="before-input">...</p>
                            <input id="btn-leaveLobby" type="button" class="form-button" style="margin-top: 10px;" value="Lobby sluiten" />
                            <input id="btn-startGame" type="button" class="form-button" style="margin-top: 10px;" value="Starten met huidige lobby" />
                        </div>
                        <div>
                            <h2 id="gameCode" class="subtitle">Jouw spelcode is:</h2>
                            <ul id="playerList"></ul>
                            <p id="playerCount" class="before-input">x spelers zijn verbonden.</p>
                        </div>
                    </div>
                </div>
                <div id="game-tutorial-1" style="display: none; background-color: #6ac2c4;">
                    <p>Je wilt graag een nieuwe telefoon, maar je hebt nog niet genoeg geld gespaard om er een te kunnen kopen.</p>
                    <p>Je hebt gehoord dat mensen bakken met geld verdienen door het verspreiden van nepnieuws.<br />Hoe moeilijk kan het zijn om zelf nep berichten te verspreiden?</p>
                    <p>Schrijf zelf nep berichten en verdien genoeg om een nieuwe telefoon te kopen.</p>
                    <input class="btn-nextTutorial" type="button" value="Volgende" />
                </div>
                <div id="game-tutorial-2" style="display: none; background-color: #6ac2c4;">
                    <p>Om geld te verdienen heb je volgers nodig.</p>
                    <p>Zorg er dus voor dat lezers het door jou geschreven bericht delen.</p>
                    <p>Daarnaast moet je er wel voor zorgen dat je zelf de juiste berichten deelt.</p>
                    <p>Deel je een vals bericht, dan kost je dat volgers</p>
                    <p>[foto's]</p>
                    <input class="btn-nextTutorial" type="button" value="Volgende" />
                </div>
                <div id="game-tutorial-3" style="display: none; background-color: #6ac2c4;">
                    <p>Kijk nu naar je eigen scherm en volg de instructies.</p>
                    <input class="btn-nextTutorial" type="button" value="Volgende" />
                </div>
                <div id="game-waiting" style="display: none; background-color: #6ac2c4;">
                    <p>Wachten op spelers...</p>
                </div>
                <div id="game-write" style="display: none; background-color: #6ac2c4;">
                    <p>Wachten op verhalen...</p>
                </div>
            }
            <!-- Beheerder -->
            @if (Model.User.RoleId == 2)
            {

            }
        </div>
    </div>
</body>

@section Scripts {
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
    <script src="~/js/game.js" language="javascript" type="text/javascript"></script>
}