@{
    ViewData["Title"] = "Spel";
    Layout = "_LayoutSide";
}
@model HubModel

<body id="body">
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <img class="landing mascot-lowerright" src="~/content/image/Squirrel.png" />
        <div id="game">
            <input id="userIdHolder" type="hidden" value="@Model.User.Id" />
            <input id="usernameHolder" type="hidden" value="@Model.User.Username" />
            <input id="roomCodeHolder" type="hidden" value="" />
            <input id="roleIdHolder" type="hidden" value="@Model.User.RoleId" />
            @if (Model.User.RoleId == 0)
            {
                <!-- #region Student -->
                <div class="layout top-bar" id="persistentHeader" style="background-color: #6ac2c4; display: none; width: 100vw; margin-top: -10px; margin-bottom: 33px;">
                    <div class="layout top-bar-container" style="display: flex; flex-direction: row; justify-content: flex-start;">
                        <div id="profilePicture">
                            @if (!String.IsNullOrEmpty(Model.User.ImageSource))
                            {
                                <img class="layout top-bar-profile" src="~/content/image/avatars/@Model.User.Id/@Model.User.ImageSource" alt="Jij!" title="Jij!" />
                            }
                            else
                            {
                                <img class="layout top-bar-profile" src="~/content/image/Person_disabled.png" alt="Jij!" title="Jij!" />
                            }
                        </div>
                        <div>
                            <h2 class="subtitle" style="margin-top: 35px; margin-left: 10px;">@Model.User.Username</h2>
                        </div>
                        <div id="personalScore" style="display: flex; flex-direction: row; justify-content: space-around">
                            <div style="display: flex; margin-left: 100px;">
                                <img class="layout top-bar-profile" style="height: 75px; width: 75px; margin-top: 12px;" src="~/content/image/People.png" title="Volgers" alt="Volgers" />
                                <h2 class="subtitle" style="padding-left: 10px; margin-top: 35px;" id="followerCount">0</h2>
                            </div>
                            <div>
                                <h2 class="subtitle" style="margin-left: 1400px; margin-top: 35px;" id="moneyCount">€0.00-</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="game-prep">
                    <p id="statusMessage"></p>
                    <h2 class="subtitle">Speel mee! Vul de spelcode op het bord in:</h2>
                    <input id="roomCodeInput" type="text" class="text-input" />
                    <input id="btn-joinLobby" type="button" class="form-button" style="margin-top: 10px;" value="Verbinden met lobby" />
                </div>
                <div>
                    <!-- #region Prep -->
                    <div id="game-connected" style="display: none;">
                        <div style="display: flex; flex-direction: column;">
                            <div>
                                <ul id="playerList" style="border: 1px solid black; list-style-type: none; text-align: center; padding: 0;"></ul>
                                <p id="playerCount" class="before-input">x spelers zijn verbonden.</p>
                                <input id="btn-leaveLobby" type="button" class="form-button-orange" style="margin-top: 10px;" value="Lobby verlaten" />
                            </div>
                        </div>
                    </div>
                    <div id="game-tutorial-1" style="display: none; width: 100vw; text-align: center;">
                        <p class="before-input">Je wilt graag een nieuwe telefoon, maar je hebt nog niet genoeg geld gespaard om er een te kunnen kopen.</p>
                        <p class="before-input">Je hebt gehoord dat mensen bakken met geld verdienen door het verspreiden van nepnieuws.<br />Hoe moeilijk kan het zijn om zelf nep berichten te verspreiden?</p>
                        <p class="before-input">Schrijf zelf nep berichten en verdien genoeg om een nieuwe telefoon te kopen.</p>
                        <input class="btn-continueTutorial" type="button" value="Volgende" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                    <div id="game-tutorial-2" style="display: none; width: 100vw; text-align: center;">
                        <p class="before-input">Om geld te verdienen heb je volgers nodig.</p>
                        <p class="before-input">Zorg er dus voor dat lezers het door jou geschreven bericht delen.</p>
                        <p class="before-input">Daarnaast moet je er wel voor zorgen dat je zelf de juiste berichten deelt.</p>
                        <p class="before-input">Deel je een vals bericht, dan kost je dat volgers</p>
                        <p class="before-input">[foto's]</p>
                        <input class="btn-continueTutorial" type="button" value="Volgende" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                    <div id="game-tutorial-3" style="display: none; width: 100vw; text-align: center;">
                        <p class="before-input">Maak van het originele artikel een eigen nep bericht.<br />Bedenk zelf ook een titel die nieuwsgierigheid wekt.</p>
                        <input class="btn-continueTutorial" type="button" value="Aan de slag" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                    <div id="game-waiting" style="display: none; width: 100vw; text-align: center;">
                        <p class="before-input">Wachten op spelers...</p>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Write -->
                    <div id="game-write" style="display: none; width: 100vw;">
                        <div id="write-busy">
                            <div style="display: flex; flex-direction: column;">
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div style="background-color: #6ac2c4; width: 33%; height: 600px; margin-right: 15px;">
                                        <p id="storyTitle" style="text-align: center; color: white;">Titel</p>
                                        <p id="storyText" style="text-align: center; padding: 10px;">Verhaal</p>
                                    </div>
                                    <div style="background-color: #6ac2c4; display: flex; flex-direction: column; width: 33%; height: 600px; margin-left: 15px; padding: 10px;">
                                        <input id="writtenStoryTitle" type="text" class="text-input" placeholder="Titel" style="background-color: #27a5a8; color: white; width: 100%; margin-bottom: 20px;" />
                                        <textarea id="writtenStoryText" class="text-input" style="background-color: #27a5a8; width: 100%; height: 100%; color: black;" placeholder="Verhaal"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <input id="btn-uploadStory" class="form-button-orange" style="margin-right: 310px; margin-top: 20px; width: 150px;" type="button" value="Deel" />
                                </div>
                            </div>
                        </div>
                        <div id="write-finished" style="display: none;">
                            <p class="before-input">Verhaal ingezonden! Wachten op de rest...</p>
                        </div>
                        <span class="timerBar" style="transition: width 1s, background-color 1s; transition-timing-function: linear; display: none; border-radius: 25px; margin-left: auto; margin-right: auto; width: 100vw; height: 50px; background-color: #f7c747; text-align: center;"></span>
                        <h2 class="timerClock" style="transition: color 1s; transition-timing-function: linear; color: black; margin-top: -43px; font-size: 24px; text-align: center; font-weight: 400;">00:00</h2>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Read -->
                    <div id="game-read" style="display: none; width: 100vw;">
                        <div id="read-busy">
                            <div style="display: flex; flex-direction: column;">
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div style="background-color: #6ac2c4; width: 33%; height: 600px; margin-right: 15px;">
                                        <h2 class="subtitle" id="turnString" style="display: none; color: white; text-align: center;">Jouw verhaal is aan de beurt. Je mag verhalen lezen maar niet delen.</h2>
                                        <h2 class="subtitle" id="articleString" style="color: white; text-align: center;">Welk artikel deel je?</h2>
                                        <div id="storyList"></div>
                                    </div>
                                    <div style="background-color: #6ac2c4; display: flex; flex-direction: column; width: 33%; height: 600px; margin-left: 15px; padding: 10px;">
                                        <p id="readStoryTitle" style="background-color: #27a5a8; color: white; width: 100%; margin-bottom: 20px;"></p>
                                        <p id="readStoryText" class="text-input" align="left" style="background-color: #27a5a8; width: 100%; height: 100%; color: black; padding: 10px;"></p>
                                    </div>
                                </div>
                                <div>
                                    <input id="btn-uploadAnswer" class="form-button-orange" style="margin-right: 310px; margin-top: 20px; width: 150px;" type="button" value="Deel" />
                                    <input id="btn-activatePowerup" class="form-button-orange" style="margin-right: 310px; margin-top: 20px; width: 150px;" type="button" value="Hulplijn" />
                                    <div id="powerupBar" style="display: none;">
                                        <p id="powerupFeedback"></p>
                                        <input id="btn-activatePowerup-1" class="form-button-orange" type="button" value="Twee antwoorden kiezen" />
                                        <input id="btn-activatePowerup-2" class="form-button-orange" type="button" value="Dubbele punten" />
                                        <input id="btn-activatePowerup-3" class="form-button-orange" type="button" value="50% wegstrepen" />
                                        <input id="btn-activatePowerup-4" class="form-button-orange" type="button" value="Spieken" />
                                        <input id="btn-activatePowerup-5" class="form-button-orange" type="button" value="Dubbele punten voor jouw verhaal" style="display: none;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="read-finished" style="display: none;">
                            <h2 class="subtitle" id="randomFinishString" style="color: white;">Was dat het juiste antwoord? We zullen zien!</h2>
                        </div>
                        <span class="timerBar" style="transition: width 1s, background-color 1s; transition-timing-function: linear; display: none; border-radius: 25px; margin-left: auto; margin-right: auto; width: 100vw; height: 50px; background-color: #f7c747; text-align: center;"></span>
                        <h2 class="timerClock" style="transition: color 1s; transition-timing-function: linear; color: black; margin-top: -43px; font-size: 24px; text-align: center; font-weight: 400;">00:00</h2>
                    </div>
                    <!-- #endregion -->
                    <div id="game-leaderboard" style="display: none;">
                        <ul id="leaderboard"></ul>
                        <input id="btn-leaveGameOnEnd" style="display: none;" class="form-button-orange" type="button" value="Afsluiten" />
                    </div>
                </div>
                <!-- #endregion -->
            }
            @if (Model.User.RoleId == 1)
            {
                <!-- Docent -->
                <!-- !Geluiden! -->
                <audio id="snd-timer-1" src="~/content/audio/Timer1.wav"></audio>
                <audio id="snd-timer-2" src="~/content/audio/Timer2.wav"></audio>
                <audio id="snd-timer-3" src="~/content/audio/Timer3.wav"></audio>
                <audio id="snd-timesup" src="~/content/audio/TimesUp.wav"></audio>
                <audio id="snd-correct" src="~/content/audio/Correct.wav"></audio>
                <audio id="snd-wrong" src="~/content/audio/Wrong.wav"></audio>
                <audio id="snd-120seconds" src="~/content/audio/120seconds.mp3"></audio>
                <!-- !Eind geluiden! -->
                <div id="game-prep">
                    <p id="statusMessage"></p>
                    <h2 class="subtitle">Speel het spel! Open een lobby en toon de code op het bord:</h2>
                    <input id="btn-hostLobby" type="button" class="form-button" value="Lobby openen" />
                </div>
                <div id="game-connected" style="display: none;">
                    <div style="display: flex; flex-direction: column;">
                        <h2 id="gameCode" class="subtitle">Jouw spelcode is:</h2>
                        <ul id="playerList" style="display: flex; justify-content: space-around; border: 1px solid black; list-style-type: none; padding: 0; text-align: center;"></ul>
                        <p id="playerCount" class="before-input">x spelers zijn verbonden.</p>
                        <input id="btn-startGame" type="button" class="form-button-orange" style="margin-top: 10px;" value="Starten met huidige lobby" />
                        <input id="btn-leaveLobby" type="button" class="form-button-orange" style="margin-top: 10px;" value="Lobby sluiten" />
                    </div>
                </div>
                <div id="game-tutorial-1" style="display: none; width: 100vw; text-align: center;">
                    <p>Je wilt graag een nieuwe telefoon, maar je hebt nog niet genoeg geld gespaard om er een te kunnen kopen.</p>
                    <p>Je hebt gehoord dat mensen bakken met geld verdienen door het verspreiden van nepnieuws.<br />Hoe moeilijk kan het zijn om zelf nep berichten te verspreiden?</p>
                    <p>Schrijf zelf nep berichten en verdien genoeg om een nieuwe telefoon te kopen.</p>
                    <div style="display: flex; margin-left: 350px; margin-right: 350px;">
                        <input class="btn-continueTutorial" type="button" value="Volgende" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                </div>
                <div id="game-tutorial-2" style="display: none; width: 100vw; text-align: center;">
                    <p>Om geld te verdienen heb je volgers nodig.</p>
                    <p>Zorg er dus voor dat lezers het door jou geschreven bericht delen.</p>
                    <p>Daarnaast moet je er wel voor zorgen dat je zelf de juiste berichten deelt.</p>
                    <p>Deel je een vals bericht, dan kost je dat volgers</p>
                    <p>[foto's]</p>
                    <div style="display: flex; margin-left: 350px; margin-right: 350px;">
                        <input class="btn-continueTutorial" type="button" value="Volgende" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                </div>
                <div id="game-tutorial-3" style="display: none; width: 100vw; text-align: center;">
                    <h2 class="subtitle">Kijk nu naar je eigen scherm en volg de instructies.</h2>
                    <div style="display: flex; margin-left: 350px; margin-right: 350px;">
                        <input class="btn-continueTutorial" type="button" value="Volgende" />
                        <input class="btn-skipTutorial" type="button" value="Overslaan" />
                    </div>
                </div>
                <div id="game-waiting" style="display: none; width: 100vw; text-align: center;">
                    <h2 class="subtitle">Wachten op spelers...</h2>
                    <input class="btn-skipTutorial" type="button" value="Overslaan" />
                </div>
                <div id="game-write" style="display: none; width: 100vw;">
                    <h2 class="subtitle">Wachten op verhalen...</h2>
                    <span class="timerBar" style="transition: width 1s, background-color 1s; transition-timing-function: linear; display: none; border-radius: 25px; margin-left: auto; margin-right: auto; width: 100vw; height: 50px; background-color: #f7c747; text-align: center;"></span>
                    <h2 class="timerClock" style="transition: color 1s; transition-timing-function: linear; color: black; margin-top: -43px; font-size: 24px; text-align: center; font-weight: 400;">00:00</h2>
                </div>
                <div id="game-read" style="display: none; width: 100vw;">
                    <div style="display: flex; flex-direction: column;">
                        <div id="storyList"></div>
                    </div>
                    <span class="timerBar" style="transition: width 1s, background-color 1s; transition-timing-function: linear; display: none; border-radius: 25px; margin-left: auto; margin-right: auto; width: 100vw; height: 50px; background-color: #f7c747; text-align: center;"></span>
                    <h2 class="timerClock" style="transition: color 1s; transition-timing-function: linear; color: black; margin-top: -43px; font-size: 24px; text-align: center; font-weight: 400;">00:00</h2>
                </div>
                <div id="game-leaderboard" style="display: none;">
                    <ul id="leaderboard"></ul>
                    <input id="btn-nextRound" type="button" value="Volgende ronde" />
                </div>
            }
            @if (Model.User.RoleId == 2)
            {
                <!-- Beheerder -->
                <p>Als beheerder kun je het spel niet spelen.</p>
            }
        </div>
    </div>
</body>

@section Scripts {
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
    <script src="~/js/game.js" language="javascript" type="text/javascript"></script>
}