@{
    ViewData["Title"] = "Spel";
    Layout = "_LayoutSide";
}
@model HubModel;

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
</head>

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <div>
            <div id="lobbyContainer"></div>
        </div>
    </div>
</body>

@section Scripts {
    <script type="text/javascript">
        // document.getElementById("playImage").style.border = "2px solid white";

        $(document).ready(function () {
            // Lobby openen
            $.ajax({
                type: 'POST',
                url: "/Game/OpenLobbyView/",
                dataType: 'html',
                success: function (result) {
                    $('#lobbyContainer').html(result);
                    $('#toHide').hide();
                }
            });
        });
    </script>
}