@{
    ViewData["Title"] = "Configuratie";
    Layout = "_LayoutSide";
}

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        Start game spul
    </div>
</body>

@section Scripts {
    <script>
        document.getElementById("configImage").style.border = "2px solid white";
    </script>
}