@{
    ViewData["Title"] = "Spel";
    Layout = "_LayoutSide";
}
@model HubModel;

<body>
    <div class="flex-center" style="flex-direction: column; margin-top: 10px;">
        <div>
            <div id="toHide">
                <button id="openLobby">Open een lobby</button>
            </div>
            <div id="lobbyContainer"></div>
        </div>
    </div>
</body>

@section Scripts {
    <script type="text/javascript">
        document.getElementById("playImage").style.border = "2px solid white";

        $("#openLobby").click(function () {        
            $.ajax({
                type: 'GET',
                url: "@Url.Content("/Game/CreateLobby/")",            
                dataType: 'html',
                success:function(result)
                {
                    $('#lobbyContainer').html(result);
                    $('#toHide').hide();
                }
             });           
         });
    </script>
}